In [42]:
#import 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
df = pd.read_csv("vgsales.csv")

In [ ]:
#EDA

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [5]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [28]:
df["Year"].unique()
mask = (df["Year"].isnull())
df[mask]
df_clean = df
df_clean = df_clean[df_clean["Year"].notnull()]
df_clean["Year"] = df_clean["Year"].astype(int)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16327 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16327 non-null  int64
 1   Name          16327 non-null  object
 2   Platform      16327 non-null  object
 3   Year          16327 non-null  int64
 4   Genre         16327 non-null  object
 5   Publisher     16291 non-null  object
 6   NA_Sales      16327 non-null  float64
 7   EU_Sales      16327 non-null  float64
 8   JP_Sales      16327 non-null  float64
 9   Other_Sales   16327 non-null  float64
 10  Global_Sales  16327 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.5+ MB

C:\Users\hp\AppData\Local\Temp\ipykernel_26052\3868615077.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["Year"] = df_clean["Year"].astype(int)

In [40]:
df_clean["Genre"].unique()
df_clean.groupby(by="Name").agg({"Global_Sales":"sum"}).sort_values(by="Global_Sales",ascending=False)

                                                Global_Sales
Name
Wii Sports                                             82.74
Grand Theft Auto V                                     55.92
Super Mario Bros.                                      45.31
Tetris                                                 35.84
Mario Kart Wii                                         35.82
...                                                      ...
Datenshi no Amai Yuuwaku x Kaikan Phrase                0.01
Mamoru-kun wa Norowarete Shimatta!                      0.01
Horse Life 4: My Horse, My Friend, My Champion          0.01
National Geographic Panda (JP sales)                    0.01
Railfan                                                 0.01

[11360 rows x 1 columns]

In [ ]:
# choose variable
# df_clean_grouped = df_clean.groupby("")
X1 = df_clean[["Year","Genre","Platform"]]
X1 = pd.get_dummies(data=X1, columns=["Genre","Platform"], drop_first=True)
y1 = df_clean["Global_Sales"]
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1,test_size=0.25, random_state=22)

In [51]:
lr1 = LinearRegression()
lr1.fit(X_train1, y_train1)
y_pred1 = lr1.predict(X_test1)

metrics.r2_score(y_test1,lr1.predict(X_test1))

0.021770321236871615

In [63]:

def print__metrics(y_test, y_pred, model_name):
    print(f"""=== {model_name} ===
    RMSE = {metrics.root_mean_squared_error(y_test,y_pred)}
    MSE  = {metrics.mean_squared_error(y_test,y_pred)}
    r2   = {metrics.r2_score(y_test,y_pred)}
    """)
print__metrics(y_train1, lr1.predict(X_train1),"liner model 1: train data")
print__metrics(y_test1, y_pred1,"liner model 1: test data")

=== liner model 1: train data ===
    RMSE = 1.409060852833268
    MSE  = 1.9854524869872168
    r2   = 0.0645364006948036

=== liner model 1: test data ===
    RMSE = 1.8339172171342413
    MSE  = 3.3632523593014
    r2   = 0.021770321236871615