In [107]:
#import 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [108]:
df = pd.read_csv("vgsales.csv")

In [109]:
#EDA

In [110]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [112]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [113]:
df["Year"].unique()
mask = (df["Year"].isnull())
df[mask]
df_clean = df
df_clean = df_clean[df_clean["Year"].notnull()]
df_clean = df_clean[df_clean["Publisher"].notnull()]

df_clean["Year"] = df_clean["Year"].astype(int)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16291 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16291 non-null  int64
 1   Name          16291 non-null  object
 2   Platform      16291 non-null  object
 3   Year          16291 non-null  int64
 4   Genre         16291 non-null  object
 5   Publisher     16291 non-null  object
 6   NA_Sales      16291 non-null  float64
 7   EU_Sales      16291 non-null  float64
 8   JP_Sales      16291 non-null  float64
 9   Other_Sales   16291 non-null  float64
 10  Global_Sales  16291 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.5+ MB

In [114]:
df_clean["Platform"].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [115]:
df_clean["Platform"].value_counts() < 12
platforms_less_12 = df_clean["Platform"].value_counts()
platforms_less_12 = platforms_less_12[platforms_less_12 < 12].index
platforms_less_12
df_clean = df_clean[~df_clean["Platform"].isin(platforms_less_12)]
# df_clean[df_clean["Platform"].value_counts() < 12]

In [116]:
pub_less_12 = df_clean["Publisher"].value_counts()
pub_less_12 = pub_less_12[pub_less_12 < 12].index
pub_less_12
df_clean = df_clean[~df_clean["Publisher"].isin(pub_less_12)]

In [117]:
list(df_clean["Publisher"].value_counts())

[1339,
 966,
 924,
 918,
 822,
 712,
 696,
 682,
 625,
 412,
 376,
 347,
 338,
 231,
 217,
 214,
 196,
 196,
 192,
 189,
 184,
 183,
 161,
 150,
 128,
 121,
 104,
 104,
 100,
 90,
 89,
 85,
 80,
 73,
 71,
 69,
 67,
 62,
 61,
 61,
 59,
 56,
 56,
 51,
 50,
 50,
 45,
 45,
 44,
 43,
 40,
 39,
 39,
 37,
 37,
 37,
 36,
 36,
 35,
 35,
 33,
 32,
 32,
 32,
 30,
 30,
 30,
 29,
 27,
 27,
 27,
 26,
 26,
 26,
 25,
 25,
 24,
 23,
 23,
 23,
 22,
 22,
 22,
 22,
 21,
 21,
 20,
 20,
 19,
 19,
 19,
 19,
 18,
 18,
 18,
 18,
 18,
 17,
 17,
 17,
 17,
 17,
 17,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 15,
 15,
 15,
 15,
 15,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 12,
 12,
 12,
 12,
 12,
 12]

In [118]:
df_clean["Genre"].unique()
df_clean.groupby(by="Name").agg({"Global_Sales":"sum"}).sort_values(by="Global_Sales",ascending=False)

                                                    Global_Sales
Name
Wii Sports                                                 82.74
Grand Theft Auto V                                         55.92
Super Mario Bros.                                          45.31
Tetris                                                     35.84
Mario Kart Wii                                             35.82
...                                                          ...
Alfa Romeo Racing Italiano                                  0.01
Act of Aggression                                           0.01
Rengoku II: The Stairway to H.E.A.V.E.N. (jp sa...          0.01
Rainbow Islands: Revolution                                 0.01
Mahjong Taikai IV                                           0.01

[10248 rows x 1 columns]

In [119]:
# choose variable
# df_clean_grouped = df_clean.groupby("")
X1 = df_clean[["Year","Genre","Platform",'Rank']]
X1 = pd.get_dummies(data=X1, columns=["Genre","Platform"], drop_first=True)
y1 = df_clean["Global_Sales"]
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1,test_size=0.25, random_state=22)

In [120]:
lr1 = LinearRegression()
lr1.fit(X_train1, y_train1)
y_pred1 = lr1.predict(X_test1)

metrics.r2_score(y_test1,lr1.predict(X_test1))

0.14034431439919604

In [121]:

def print__metrics(y_test, y_pred, model_name):
    print(f"""=== {model_name} ===
    RMSE = {metrics.root_mean_squared_error(y_test,y_pred)}
    MSE  = {metrics.mean_squared_error(y_test,y_pred)}
    r2   = {metrics.r2_score(y_test,y_pred)}
    """)
print__metrics(y_train1, lr1.predict(X_train1),"liner model 1: train data")
print__metrics(y_test1, lr1.predict(X_test1),"liner model 1: test data")

=== liner model 1: train data ===
    RMSE = 1.2889026229731129
    MSE  = 1.6612699715069703
    r2   = 0.22929746916353888

=== liner model 1: test data ===
    RMSE = 1.8768349116679248
    MSE  = 3.5225092856555476
    r2   = 0.14034431439919604